:root {
    --black: #4E515B;
    --dark-gray: #61636A;
    --medium-gray: #E6E6E6;
    --light-gray: #F3F3F3;
    --white: #FBFBFB;
    --blue: #86B6BF;
    --red: #E89A74;
    --yellow: #F8E8AE;
    --light-blue: #CAE3E8;
    --pink: #F5CEBB;
}

*{
  margin: 0;
  padding: 0;

}

body {
  font-family: "Avenir";
  font-weight: 500;
  color: var(--dark-gray);
  background-color: var(--white);

}
/* General Text */

a {
    text-decoration: none;
    color: var(--dark-gray);
}

h4 {
    font-size: 1.2rem;
    text-align: center;
    color: var(--blue);
}
h5 {
    font-size: 1.1rem;
    line-height: 1.5;

}
h6 {
    font-size: 1rem;
    text-align:center;
    font-weight: 500;
    line-height: 2;
}
p {
    font-size: 1rem;
    text-align: left;
}

img {
    border-radius: 8px;

}


/* Navbar */
.navbar {
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 10%;
    padding-right: 10%;
}
.navbar .nav {
    justify-self: flex-end;
    display: flex;
    align-items:center;
    justify-content: center;
}

.navbar .nav a {
    padding-right: .8rem;
    padding-left: .8rem;
}
.navbar .nav a:hover {
    border-bottom: .3rem solid var(--light-gray);

}
.selected {
    border-bottom: .3rem solid var(--blue);
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar a {
    color: var(--dark-gray);
    text-decoration: none;
}
ul {
    list-style: none;
}


/* Header Section */
.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8%;
}
.hero .computer {
    width: 35%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
    0% {transform: translateY(0.1%);}
    100% {transform: translateY(-0.1%);}
}
@keyframes mover {
    0% {transform: translateY(10px);}
    100% {transform: translateY(-10px);}
}
.hero .headerText {
    float:right;
    padding-right:10%;
}
.hero .headerText .header {
    font-size:1.8rem;
}
.typedText {
    font-size:5rem;
    line-height: 1;
    color: var(--blue);
}

.cursor {
    display: inline-block;
    width: 3px;
    height: 2rem;
    background-color: var(--dark-gray);
    margin-left: 0.1rem;
    padding-top: 3rem;
    animation: blink 0.7s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {background-color:var(--dark-gray);}
    50% {background-color:transparent;}
    100% {background-color:var(--dark-gray);}
}

/* Recent Project Cards */
#projects {
    padding-top: 5%
}
.projectCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 7% 3% 7%;



}
.projectCard {
    padding: 2rem;
    margin: 1.5rem;
    width: 18rem;
    height: 19rem;
    background-color: var(--light-gray);
    border-radius: 8px;
}
.interest {
    height: 10rem;
    width: 14rem;
}

#projects .projectCard:hover {
    box-shadow: -15px 15px 20px 5px var(--medium-gray);

}
.cardText {
    padding-top: 0.5rem;
}

.category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 1rem;
}

.tag {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
    border-radius: 5px;

}
.tag p{
    font-size: 0.8rem;

}
.designTag {
    background-color: var(--pink);
}
.techTag {
    background-color: var(--yellow);
}
.productTag {
    background-color: var(--light-blue);
}


/* About Section */
.aboutPast {
    background-image: url(images/grayBackground.svg);
    background-position:center top;
    background-size= cover;

}
.twoColumn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 7% 20% 7% 20%;
}
.about .title {
    text-align: left;
    line-height: 2;
}
.jojo {
    height: auto;
    object-fit: cover;
    width: 100%;
    max-width: 250px;
    max-height: 300px;
    margin-left: 10%
}
.pastProjects {
    padding-bottom: 2%;
    padding-top: 3%;
}
.pastProjects .projectCard {
    background-color: var(--white);
}
.secondaryTitle {
    text-align: center;
}
/* Things I Care About Section */
.values {

    padding: 5% 5% 5% 5%;
}
#education {
    background-color: var(--light-blue);
}

#create{
    background-color: var(--pink);
}

#humans{
    background-color: var(--yellow);
}
/* Contact Section */

#contact {
    background-color: var(--dark-gray);
    padding: 7% 15% 7% 15%;

}

#contact .text {
    color: var(--white);
    text-align: left;
    line-height: 1.5;
}

#contact a {
    color: color: var(--white);
    text-decoration: underline;
}

/* Footer Section */
.footer {
    background-color: var(--black);
    padding: 1rem 0rem 1rem 0rem;
}
.footer p {
    color: var(--white);
    text-align: center;
    front-weight: bold;
}


/* THE CODEX PAGE */

/* Header Section */

.eyebrow {
    color: var(--blue);
}
.projectHero {
    padding: 7% 10% 2% 20%;
}
.projectHeroText {
    width: 40%;
}
.projectHeroText h3{
    font-size: 2.5rem;
}
.overview {
    background-color: var(--light-gray);
}
/* Initial Research Section */

.initialResearch img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 100%;
    padding-top: 3rem;
}

.description {
    padding-top: 3rem;
}

.sub {
    color: var(--gray);
}

.auditText {
    padding-top: 5%;
}

.audit .sub {
    text-align: left;
    line-height: 2rem;
}

#competitorImg {
    margin-left: 5%
}
.persona {
    display: flex;
    flex-direction: column;
}
.persona p {
    text-align: center;
    padding-top: 1rem;
}

.personas {
    display: flex;
    flex-direction: row;
    margin:0% 20% 7% 15%;
    align-items: flex-end;
}

/* Key Challenges */
.challenges {
    background-color: var(--light-gray);
}
.textOnly {
    padding: 5% 25% 5% 25%;
}
.textOnly p{
    padding-top: 2rem;
}

/* Brainstorming and initial sketches */
.brainstorming img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 40%;
}
.brainstorming {
    margin-top: 7%;
    margin-bottom: 5%;
}
/* Website Designs */
.websiteDesign {
    padding-top: 4%;

}
.websiteDesign img{
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    border-radius: 10px;

}
#flowchartImg {
    padding-top: 5%;
    padding-right: 30%;
}
#journeyImg {
    margin-left: 50%;
}
#sketchImg {
    width: 30%;
    margin-right: 60%;
    margin-top: -5%;

}
.imgShadow {
    box-shadow: -1px 1px 20px 2px var(--medium-gray);
}
/* Credits */
.underline a{
    text-decoration: underline;
}

.next p{
    text-align: right;
    margin: 5% 10% 5% 10%;

}

/* CAL HACKS */

#calhacksComputer{
    padding-left: 5%;
}
.title a {
    color: var(--blue);
}
.classes {
  text-align: center;
  margin: 5% 10% 2% 10%;
}

.classes ul{
  padding: 2rem;

}
